<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="bcaa9afe-dca2-4d8b-9007-79949c5dddd1" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://thetestingworldapi.com 1" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="bcaa9afe-dca2-4d8b-9007-79949c5dddd1fileName">http%3A%2F%2Fthetestingworldapi.com-1</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://thetestingworldapi.com</con:endpoint></con:endpoints><con:environmentSpec><con:entry environmentId="59351a0b-d1f5-4471-ba4a-57a6e3219912"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:interface>